.section-heading {
    margin-bottom: 25px;
    @include lg{
        margin-bottom: 30px;
    }
    h2 {
        font-size: 25px;
        font-weight: $font-bold;
        color: $primary;
        line-height: 30px;

        @include lg {
            font-size: 36px;
            line-height: 47px;

        }
    }
}